/* 
  *{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;

  } */
/* .reg-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  border: solid pink;
  position: relative;
  background-image: linear-gradient(
    to top,
    rgba(0, 249, 166, 0.506),
    rgba(227, 255, 246, 0.959)
  );
   background-image: url('../styling/images/online-doctor-video-doctor-using-healthcare-app-laptop-medi.jpg');
}
.con-picture {
  width: 40%;
  height: 100%;
}
.reg-img {
  max-width: 100%;
  max-height: 100vh;
  justify-content: left; 
  z-index: 0;
  position: absolute; 
}

.signUpForm {
   animation-delay: 5; 
  width: 40vw;
  font-size: large;
 position:absolute; 
  justify-content: right;
  right: 0px;
  padding: 0px;
  height: 100%;
  -webkit-filter: blur(7px);
  border: none;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.71);
  backdrop-filter: blur(50px);
  box-shadow: -5px 0px 15px #949494, 8px -20px 60px rgb(160, 160, 160);
}
.form {
  padding: 7px;
}

.input-field {
  margin: 5px;
  max-width: 90%;
}
.name {
  width: 50%;
}
.reg-form-footer {
}

.reg-discipline {
  background-color: rgba(0, 249, 166, 0.506);
  border-radius: 5px;
  padding: 4px;
  max-width: fit-content;
  margin: 2px;
  cursor: pointer;
} */

/* 2nd style test*/
/* .reg-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
} */
.reg-img {
  max-width: 100%;
  max-height: 100vh;
  justify-content: center;
  /* z-index: 0; */
  /* position: absolute;  */
}
.img {
  width: 40vw;
  height: 100%;
}
.login-link {
  color: #333;
  border: 1px solid #333;
  font-size: 18px;
  font-weight:500;
}
