
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 body {
  background-image: 
  linear-gradient(
      to right,
      rgba(0, 61, 41, 0.705),
      rgba(0, 250, 167, 0.568)
    ),
}
 
  .header {
    height: 90vh;
    width: 96vw;
    background-image: 
    linear-gradient(
        to right,
        rgba(0, 61, 41, 0.705),
        rgba(0, 250, 167, 0.568)
      ),
      url("../imgs/surgeons.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
 
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    /* position: fixed; */
    z-index: 0;
  }
  .buttons {
    /* position: absolute;
    top: 60%;
    left: 25%; */
    
  }
.reg-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  /* border: solid pink; */
  position: relative;
  background-image: linear-gradient(
    to top,
    rgba(0, 249, 166, 0.506),
    rgba(227, 255, 246, 0.959)
  );
  z-index: 2;
   /* background-image: url('../styling/images/online-doctor-video-doctor-using-healthcare-app-laptop-medi.jpg'); */
}
/* .con-picture {
  width: 40%;
  height: 100%;
} */
.reg-img-container {
  max-width: 60%;
  /* max-height: 100vh; */
  /* justify-content: left;  */
  /* z-index: 0; */
  /* position: absolute;  */
  contain: content;
}
.reg-img{
  width:100%;
}

.signUpForm {
  border-top-left-radius: 40px;
  animation-delay: 5; 
  max-width: 40%;
  font-size: large;
 /* position:absolute;  */
  justify-content: left;
  /* right: 0px; */
  padding: 20px;
  height: 100%;
  /* -webkit-filter: blur(7px); */
  border: none;
  /* background-color:rgba(138, 196, 178, 0.445); */
  background-color: rgba(254, 255, 254, 0.952);
  /* backdrop-filter: blur(50px); */
  box-shadow: -5px 0px 15px #949494, 8px -20px 60px rgb(160, 160, 160);
  /* z-index: 500; */
}
.form {
  padding: 7px;
}

.input-field {
  margin: 5px;
  max-width: 90%;
}
.name {
  width: 50%;
}


.reg-discipline {
  background-color: rgba(0, 249, 166, 0.506);
  border-radius: 5px;
  padding: 4px;
  max-width: fit-content;
  margin: 2px;
  cursor: pointer;
}

/* 2nd style test*/
/* .reg-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
} */

.login-link {
  color: #333;
  border: 1px solid #333;
  font-size: 18px;
  font-weight:500;
}
