/******* main setups done******* */
:root {
  --main: #003e29;
  --light: #00f9a5;
  --black: #010101;
  --white: #dff0e2;
  --fonts: #333333;
  --textCard: #fdfffc;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  width: 100vw;
  font-size: 2.9rem;
  background-color: var(--textCard);
  color: var(--fonts);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}
ul {
  list-style: none;
}
li a {
  color: var(--textCard);
  text-decoration: none;
}
a {
  color: var(--textCard);
  text-decoration: none !important;
}

/* *****header****** */

/* .main-header {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 61, 41, 0.705),
      rgba(0, 250, 167, 0.568)
    ),
    url("./imgs/surgeons.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
 
} */
.logo {
  height: 11rem;
  animation: animateHeart 1.2s infinite;
  margin: 5rem;
}
.text-wrap {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-wrap {
  color: var(--textCard);
  text-transform: uppercase;
}
.title {
  display: block;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2rem;
  animation: moveInLeft 5s;
}
.subTitle {
  display: block;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1.5rem;
  animation: moveInRight 5s;
}

/* ********buttons******* */
.buttons {
  position: absolute;
  top: 60%;
  left: 25%;
}
.buttonNavbar {
  position: relative;
  font-size: 2rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  overflow: hidden;
  transition: 0.2s;
  color: var(--textCard);
  margin: 1rem;
  border-radius: 9rem;
  padding: 2rem;
  font-weight: 700;
  background: linear-gradient(
    to right,
    rgba(0, 61, 41, 0.486),
    rgba(0, 250, 167, 0.39)
  );
  backdrop-filter: blur(10px);
}
.buttonNavbar:hover {
  /* color: var(--white);
  background-color: var(--textCard);
  box-shadow: 0 0 10rem var(--textCard), 0 0 4rem var(--textCard), 0 0 8rem var(--textCard);
  transition-delay: 1s;
  color: var(--black); */
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--white)
  );
  transition: all 0.4s;
}
.buttonNavbar span {
  position: absolute;
  display: block;
}
.buttonNavbar span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--textCard));
}
.buttonNavbar:hover span:nth-child(1) {
  left: 100%;
  transition: 0.5s;
}
.buttonNavbar span:nth-child(2) {
  top: -100%;
  right: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--textCard));
}
.buttonNavbar:hover span:nth-child(2) {
  top: 100%;
  transition: 0.5s;
  transition-delay: 0.25s;
}
.buttonNavbar span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--textCard));
}
.buttonNavbar:hover span:nth-child(3) {
  right: 100%;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.buttonNavbar span:nth-child(4) {
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--textCard));
}
.buttonNavbar:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.5s;
  transition-delay: 0.75s;
}
/* ********************body********************* */
.textComponent {
  margin: 25rem auto;
}

/* *******************menu********************* */
.navBackground {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 3;
  background: radial-gradient(circle at 100%, #00a46d, #00c683, #00e89a);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 1;
  transition: transform 2s;
}
.navButton {
  background-color: var(--textCard);
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  box-shadow: 0 1rem 2rem #232323;
  z-index: 5;
}
.navNav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  opacity: 0;
  transition: all 2s;
}
.navList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.navItem {
  margin: 1rem;
}
.navLink {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  background-size: 230%;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--white)
  );
  transition: all 0.4s;
}
.navLink:hover {
  background-position: 100%;
  color: var(--main);
}
.navCheckbox:checked ~ .navBackground {
  transform: scale(80);
}
.navCheckbox:checked ~ .navNav {
  opacity: 1;
  width: 100%;
}
#navigationToogle {
  display: none;
}

/* ********cards********* */
.cardWrap {
  display: grid;
  grid-template-rows: auto;
  min-height: 120rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 11rem;
}
.cardWrap .card {
  position: relative;
  min-width: 32rem;
  height: 85vh;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 1.5rem;
  margin-top: 5rem;
}
.cardWrap .card .boxCard {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  background: rgba(0, 62, 41, 0.4);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 3rem;
}
.cardWrap .card .boxCard:hover {
  transform: translateY(-50px);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}
.imgCard {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 40%;
  box-shadow: 10px 10px 95px -16px rgba(0, 0, 0, 0.82);
}
.cardWrap .card .boxCard .contentCard {
  padding: 2rem;
  text-align: center;
}
.cardWrap .card .boxCard .contentCard h2 {
  font-size: 4rem;
  color: var(--textCard);
  margin-top: 7rem;
  margin-bottom: 3rem;
  text-shadow: 5px 3px 7px rgba(35, 35, 35, 0.65);
}
.cardWrap .card .boxCard .contentCard p {
  font-size: 2rem;
  z-index: 1;
  transition: 0.5s;
  color: var(--textCard);
  margin-top: 4rem;
  font-weight: 400;
}
.cardWrap .card .boxCard .contentCard a {
  position: relative;
  display: inline-block;
  padding: 8px 2rem;
  margin-top: 9rem;
  border-radius: 2rem;
  text-decoration: none;
  color: var(--textCard);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* ********About********* */
.aboutSubWrapper {
  margin: 19rem auto;
}
.ambulanceImg {
  height: 55rem;
  float: left;
  margin-right: 3rem;
  margin-top: 1.9rem;
}
.pharmacyImg {
  height: 55rem;
  float: right;
  margin-left: 3rem;
}

/* ********Team********  */

.teamAbout {
  position: relative;
  margin-bottom: 9rem;
}
.follow-button {
  position: absolute;
  top: 5%;
  left: 39%;
  margin-bottom: 4rem;
}
.teamTitle {
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
  text-shadow: 5px 3px 7px rgba(35, 35, 35, 0.65);
  margin: 1rem auto;
}
.teamPresentation {
  margin-top: 5rem;
}
.teamName {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
}
.teamImage {
  height: 15rem;
  margin-right: 3rem;
  margin-top: 8rem;
  float: left;
}
.textComponent {
  margin-top: 7rem;
}

/***** follow buttons ******/
.follow-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 240px;
  height: 65px;
  background-color: var(--white);
  border-radius: 80px;
  padding: 0 18px;
  margin-top: 15px;
  margin-left: -7rem;
  will-change: transform;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.follow-button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.follow-button-frontage {
  position: absolute;
  z-index: 99;
  width: 240px;
  height: 62px;
  border-radius: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  text-align: center;
  line-height: 60px;
  letter-spacing: 2px;
  color: var(--fonts);
  background-color: var(--light);
  text-shadow: 2px 2px 3px rgba(35, 35, 35, 0.61);
  padding: 0 18px;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 240px;
  height: 64px;
  border-radius: 80px;
}
.social-links i:nth-of-type(1) {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}
.social-links i:nth-of-type(2) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
.follow-button:hover span {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  -webkit-transform: translateX(-280px);
  transform: translateX(-280px);
}
.follow-button:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.social-links_link {
  font-size: 30px;
  color: #0a66c2;
  will-change: transform;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.social-links_link:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

/* ********cards********* */
.cardWrap {
  display: grid;
  grid-template-rows: auto;
  min-height: 120rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 11rem;
}
.cardWrap .card {
  position: relative;
  min-width: 32rem;
  height: 85vh;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 1.5rem;
  margin-top: 5rem;
}

.cardWrap .card .boxCard {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  background: rgba(0, 62, 41, 0.4);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 3rem;
}
.cardWrap .card .boxCard:hover {
  transform: translateY(-50px);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}
.imgCard {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 40%;
  box-shadow: 10px 10px 95px -16px rgba(0, 0, 0, 0.82);
}
.cardWrap .card .boxCard .contentCard {
  padding: 2rem;
  text-align: center;
}
.cardWrap .card .boxCard .contentCard h2 {
  font-size: 4rem;
  letter-spacing: 2px;
  color: var(--textCard);
  margin-top: 7rem;
  margin-bottom: 3rem;
  text-shadow: 5px 3px 7px rgba(35, 35, 35, 0.65);
}
.cardWrap .card .boxCard .contentCard p {
  font-size: 2rem;
  z-index: 1;
  transition: 0.5s;
  color: var(--textCard);
  margin-top: 4rem;
  font-weight: 400;
}
.cardWrap .card .boxCard .contentCard a {
  position: relative;
  display: inline-block;
  padding: 8px 2rem;
  margin-top: 9rem;
  border-radius: 2rem;
  text-decoration: none;
  color: var(--textCard);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* *** Patient Sign Up Form  *** */
.pt-reg {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

/* *******footer******** */
.footerWrap {
  height: 45vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 61, 41, 0.705),
      rgba(0, 250, 167, 0.568)
    ),
    url("./imgs/surgeons.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.footerItem {
  display: flex;
  flex-direction: column;
  line-height: 3rem;
  font-weight: 700;
  text-align: center;
  font-size: 4rem;
}
.footerLink {
  margin: 2rem 0;
}
.footerLink:hover {
  color: var(--light);
  text-shadow: 0 1rem 2rem var(--black);
  transform: scale(1.1);
  transition: 2s;
}
.footerLink .fab:hover {
  color: var(--light);
  text-shadow: 0 1rem 2rem var(--black);
  transform: scale(1.1);
  transition: 2s;
}
.copyright {
  position: absolute;
  bottom: 9%;
  left: 35%;
  color: var(--textCard);
  font-size: 1.9rem;
}

/* ********media queries ******/

@media (min-width: 768px) {
  .imgCard {
    height: 15rem;
    width: 15rem;
    top: 11%;
    left: 45%;
    color: var(--textCard);
  }
  .cardWrap .card .boxCard .contentCard h2 {
    font-size: 6rem;
    margin-top: 15rem;
  }
  .cardWrap .card .boxCard .contentCard p {
    font-size: 3.1rem;
  }
  .teamTitle {
    font-size: 9rem;
    font-weight: 300;
    text-shadow: 5px 3px 7px rgba(35, 35, 35, 0.65);
    margin: 11rem auto;
  }
  .teamName {
    font-size: 6rem;
  }
  .follow-button {
    margin-left: -5rem;
  }
  .footerItem {
    flex-direction: row;
    margin-left: 3rem;
    justify-content: space-around;
    line-height: 35rem;
  }
}
@media (min-width: 1280px) {
  .cardWrap {
    grid-template-columns: auto auto auto;
    margin-bottom: -9rem;
  }
  .imgCard {
    width: 11rem;
    height: 11rem;
    top: 7%;
    left: 40%;
  }
  .cardWrap .card .boxCard .contentCard h2 {
    font-size: 4rem;
    margin-top: 5rem;
  }
  .cardWrap .card .boxCard .contentCard p {
    font-size: 2rem;
  }
  .teamTitle {
    font-size: 9rem;
    font-weight: 300;
    text-shadow: 5px 3px 7px rgba(35, 35, 35, 0.65);
    margin: 11rem auto;
  }
  .teamName {
    font-size: 6rem;
    margin-top: 9rem;
    margin-bottom: -3rem;
  }
  .textComponent {
    margin-top: 9rem;
  }
  .teamImage {
    height: 25rem;
    margin-right: 5rem;
    margin-top: 7rem;
    float: left;
  }
  .follow-button {
    margin-top: 5rem;
    margin-left: 5rem;
  }
  .box h2,
  h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 5rem;
    letter-spacing: 1.1rem;
    text-shadow: 6px 2px 11px rgba(35, 35, 35, 0.88);
  }
}

/* ********keyframes****** */

@keyframes animateHeart {
  0% {
    transform: scale(0.8);
  }
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(0.8);
  }
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }
}
@keyframes list {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 15%;
  }
  50% {
    opacity: 25%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}
