:root{
  --main: #003e29;
  --light: #00f9a5;
  --black: #010101;
  --white: #f2f1f1;
  --fonts: #333333;
}
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  height: 100vh;
  width: 100vw;
  font-size: 2.9rem;
  background-color: var(--white);
  color: var(--fonts);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
